@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
	font-family: "inter";
	margin: 1em;
}

header {
	text-align: center;
	padding: 1rem;
}
.listInputLabel {
	display: block;
}
textarea {
	resize: none;
}

#interface {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
}

@media only screen and (min-width: 50rem) {
	#tools {
		margin-inline: auto;
		width: fit-content;
	}
	#interface {
		display: grid;
		grid-template-columns: auto 1fr;
		gap: 2rem;
	}
}
